<BODY BGCOLOR="white">
	<CENTER>
	<IMG SRC="/image/phage.png" height=125 width=500>
	</Center>
	<BR><BR> <table >
<tr><th>Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		 <th>Case number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		 <th>NC number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th>GI number</th> </tr>
<tr><td> Haemophilus influenzae Rd KW20 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000907'>NC_000907</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000907'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_000907'></a></td> </tr>
<tr><td> Escherichia coli str. K-12 substr. MG1655 chromosome, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000913'>NC_000913</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000913'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_000913'></a></td> </tr>
<tr><td> Mycobacterium tuberculosis H37Rv, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000962'>NC_000962</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000962'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_000962'></a></td> </tr>
<tr><td> Bacillus subtilis subsp. subtilis str. 168 chromosome, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000964'>NC_000964</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_000964'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_000964'></a></td> </tr>
<tr><td> Xylella fastidiosa 9a5c, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002488'>NC_002488</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002488'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002488'></a></td> </tr>
<tr><td> Pseudomonas aeruginosa PAO1 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002516'>NC_002516</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002516'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002516'></a></td> </tr>
<tr><td> Bacillus halodurans C-125 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002570'>NC_002570</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002570'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002570'></a></td> </tr>
<tr><td> Escherichia coli O157:H7 str. EDL933 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002655'>NC_002655</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002655'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002655'></a></td> </tr>
<tr><td> Lactococcus lactis subsp. lactis Il1403, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002662'>NC_002662</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002662'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002662'></a></td> </tr>
<tr><td> Mesorhizobium loti MAFF303099 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002678'>NC_002678</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002678'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002678'></a></td> </tr>
<tr><td> Escherichia coli O157:H7 str. Sakai, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002695'>NC_002695</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002695'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002695'></a></td> </tr>
<tr><td> Streptococcus pyogenes M1 GAS chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002737'>NC_002737</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002737'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002737'></a></td> </tr>
<tr><td> Staphylococcus aureus subsp. aureus N315, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002745'>NC_002745</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002745'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002745'></a></td> </tr>
<tr><td> Staphylococcus aureus subsp. aureus Mu50, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002758'>NC_002758</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002758'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002758'></a></td> </tr>
<tr><td> Corynebacterium diphtheriae NCTC 13129, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002935'>NC_002935</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002935'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002935'></a></td> </tr>
<tr><td> Pseudomonas putida KT2440 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002947'>NC_002947</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002947'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002947'></a></td> </tr>
<tr><td> Treponema denticola ATCC 35405 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002967'>NC_002967</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002967'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002967'></a></td> </tr>
<tr><td> Wolbachia endosymbiont of Drosophila melanogaster, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002978'>NC_002978</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_002978'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_002978'></a></td> </tr>
<tr><td> Clostridium acetobutylicum ATCC 824, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003030'>NC_003030</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003030'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003030'></a></td> </tr>
<tr><td> Neisseria meningitidis MC58, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003112'>NC_003112</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003112'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003112'></a></td> </tr>
<tr><td> Neisseria meningitidis Z2491, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003116'>NC_003116</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003116'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003116'></a></td> </tr>
<tr><td> Yersinia pestis CO92 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003143'>NC_003143</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003143'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003143'></a></td> </tr>
<tr><td> Streptomyces avermitilis MA-4680, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003155'>NC_003155</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003155'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003155'></a></td> </tr>
<tr><td> Salmonella enterica subsp. enterica serovar Typhimurium str. LT2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003197'>NC_003197</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003197'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003197'></a></td> </tr>
<tr><td> Salmonella enterica subsp. enterica serovar Typhi str. CT18&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003198'>NC_003198</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003198'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003198'></a></td> </tr>
<tr><td> Listeria monocytogenes EGD-e, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003210'>NC_003210</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003210'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003210'></a></td> </tr>
<tr><td> Listeria innocua Clip11262, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003212'>NC_003212</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003212'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003212'></a></td> </tr>
<tr><td> Ralstonia solanacearum GMI1000, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003295'>NC_003295</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003295'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003295'></a></td> </tr>
<tr><td> Clostridium perfringens str. 13, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003366'>NC_003366</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003366'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003366'></a></td> </tr>
<tr><td> Streptococcus pyogenes MGAS8232, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003485'>NC_003485</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003485'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003485'></a></td> </tr>
<tr><td> Xanthomonas campestris pv. campestris str. ATCC 33913, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003902'>NC_003902</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003902'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003902'></a></td> </tr>
<tr><td> Xanthomonas axonopodis pv. citri str. 306 chromosome, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003919'>NC_003919</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003919'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003919'></a></td> </tr>
<tr><td> Staphylococcus aureus subsp. aureus MW2, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003923'>NC_003923</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003923'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003923'></a></td> </tr>
<tr><td> Bacillus anthracis str. Ames, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003997'>NC_003997</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_003997'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_003997'></a></td> </tr>
<tr><td> Streptococcus pyogenes MGAS315 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004070'>NC_004070</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004070'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004070'></a></td> </tr>
<tr><td> Yersinia pestis KIM 10 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004088'>NC_004088</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004088'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004088'></a></td> </tr>
<tr><td> Streptococcus agalactiae 2603V/R, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004116'>NC_004116</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004116'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004116'></a></td> </tr>
<tr><td> Bifidobacterium longum NCC2705 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004307'>NC_004307</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004307'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004307'></a></td> </tr>
<tr><td> Brucella suis 1330 chromosome chromosome I, complete sequence.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004310'>NC_004310</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004310'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004310'></a></td> </tr>
<tr><td> Shigella flexneri 2a str. 301, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004337'>NC_004337</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004337'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004337'></a></td> </tr>
<tr><td> Shewanella oneidensis MR-1, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004347'>NC_004347</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004347'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004347'></a></td> </tr>
<tr><td> Escherichia coli CFT073 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004431'>NC_004431</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004431'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004431'></a></td> </tr>
<tr><td> Xylella fastidiosa Temecula1, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004556'>NC_004556</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004556'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004556'></a></td> </tr>
<tr><td> Clostridium tetani E88 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004557'>NC_004557</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004557'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004557'></a></td> </tr>
<tr><td> Lactobacillus plantarum WCFS1, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004567'>NC_004567</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004567'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004567'></a></td> </tr>
<tr><td> Pseudomonas syringae pv. tomato str. DC3000 chromosome, complete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004578'>NC_004578</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004578'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004578'></a></td> </tr>
<tr><td> Streptococcus pyogenes SSI-1, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004606'>NC_004606</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004606'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004606'></a></td> </tr>
<tr><td> Salmonella enterica subsp. enterica serovar Typhi str. Ty2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004631'>NC_004631</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004631'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004631'></a></td> </tr>
<tr><td> Enterococcus faecalis V583 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004668'>NC_004668</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004668'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004668'></a></td> </tr>
<tr><td> Bacillus cereus ATCC 14579, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004722'>NC_004722</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004722'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004722'></a></td> </tr>
<tr><td> Shigella flexneri 2a str. 2457T, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004741'>NC_004741</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_004741'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_004741'></a></td> </tr>
<tr><td> Chromobacterium violaceum ATCC 12472 chromosome, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005085'>NC_005085</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005085'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_005085'></a></td> </tr>
<tr><td> Photorhabdus luminescens subsp. laumondii TTO1, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005126'>NC_005126</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005126'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_005126'></a></td> </tr>
<tr><td> Lactobacillus johnsonii NCC 533, complete genome.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005362'>NC_005362</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		 <td><a href='/cgi-bin/Results.cgi?num=NC_005362'></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href='/cgi-bin/Results.cgi?num=NC_005362'></a></td> </tr>
</table></BODY>
