<table border="1">
<tr><th>#</th><th>DEFINITION</th><th>LENGTH(bp)</th><th>SEQ_DIFF</th><th>ACCESSION</th><th>Number of prophage found</th><th>Complete prophages</th><th>Incomplete prophages</th><th>Average size of propage(bp)</th><th>Top 3 most abundant prophage types</th></tr>
<tr><td>1</td><td>Salmonella enterica subsp. enterica serovar Enteritidis virulence plasmid genes, 14.7 kb pef region</td><td>14704</td><td>Complete sequence</td><td>AB041905</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>2</td><td>Salmonella typhi R27 plasmid complete sequence.</td><td>180461</td><td>Complete sequence</td><td>AF250878</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>3</td><td>Salmonella enterica subsp. enterica serovar Typhi str. CT18 plasmid pHCM2.</td><td>106516</td><td>Complete sequence</td><td>AL513384</td><td>2</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=AL513384#1">29-106516</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=AL513384#2">23769-106516</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr></table></td><td>-</td><td>94618</td><td>PHAGE_Salmon_SSU5, PHAGE_Salmon_SSU5</td></tr>
<tr><td>4</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. T000240 plasmid pSTMDT12_L DNA</td><td>106510</td><td>Complete sequence</td><td>AP011958</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=AP011958#1">39945-66461</a></td></tr></table></td><td>26517</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>5</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. T000240 plasmid pSTMDT12_S DNA</td><td>8670</td><td>Complete sequence</td><td>AP011959</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>6</td><td>Salmonella enteritidis serovar Enteritidis plasmid pK</td><td>4245</td><td>Complete sequence</td><td>AY079200</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>7</td><td>Salmonella enteritidis serovar Enteritidis plasmid pC</td><td>5269</td><td>Complete sequence</td><td>AY079201</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>8</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. 14028S plasmid</td><td>93832</td><td>Complete sequence</td><td>CP001362</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=CP001362#1">26172-58643</a></td></tr></table></td><td>32472</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>9</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p1</td><td>93842</td><td>Complete sequence</td><td>CP002488</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>10</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p2</td><td>86908</td><td>Complete sequence</td><td>CP002489</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>11</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p3</td><td>8688</td><td>Complete sequence</td><td>CP002490</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>12</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. UK-1 plasmid pSTUK-100</td><td>93277</td><td>Complete sequence</td><td>CP002615</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>13</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. 798 plasmid p798_93</td><td>93877</td><td>Complete sequence</td><td>CP003387</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=CP003387#1">26080-58548</a></td></tr></table></td><td>32469</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>14</td><td>Salmonella enterica subsp. enterica serovar Heidelberg str. B182 plasmid pB182_37</td><td>37581</td><td>Complete sequence</td><td>CP003417</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>15</td><td>Salmonella enterica subsp. enterica serovar Enteritidis strain PVCM07-2008 plasmid pVCM04</td><td>3583</td><td>Complete sequence</td><td>HM231165</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>16</td><td>Salmonella enterica subsp. enterica serovar Enteritidis plasmid pSENV</td><td>59368</td><td>Complete sequence</td><td>JN885080</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=JN885080#1">33361-58136</a></td></tr></table></td><td>24776</td><td>PHAGE_Cronob_ENT39118</td></tr>
<tr><td>17</td><td>Salmonella typhimurium LT2 plasmid pSLT</td><td>93939</td><td>Complete sequence</td><td>NC_003277</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_003277#1">26173-58669</a></td></tr></table></td><td>32497</td><td>PHAGE_Entero_P1</td></tr>
<tr><td>18</td><td>Salmonella enterica subsp. enterica serovar Typhi str. CT18 plasmid pHCM1</td><td>218160</td><td>Complete sequence</td><td>NC_003384</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>19</td><td>Salmonella enterica subsp. enterica serovar Typhi str. CT18 plasmid pHCM2</td><td>106516</td><td>Complete sequence</td><td>NC_003385</td><td>2</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_003385#1">29-105813</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_003385#2">23769-105813</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr></table></td><td>-</td><td>93915</td><td>PHAGE_Salmon_SSU5, PHAGE_Salmon_SSU5</td></tr>
<tr><td>20</td><td>Salmonella enterica subsp. enterica serovar Choleraesuis str. SC-B67 plasmid pSCV50</td><td>49558</td><td>Complete sequence</td><td>NC_006855</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>21</td><td>Salmonella enterica subsp. enterica serovar Choleraesuis str. SC-B67 plasmid pSC138</td><td>138742</td><td>Complete sequence</td><td>NC_006856</td><td>1</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_006856#1">1425-24433</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr></table></td><td>-</td><td>23009</td><td>PROPHAGE_Brucel_1330</td></tr>
<tr><td>22</td><td>Salmonella enterica subsp. enterica serovar Newport str. SL254 plasmid pSN254</td><td>176473</td><td>Complete sequence</td><td>NC_009140</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>23</td><td>Salmonella enterica subsp. enterica serovar Typhimurium plasmid pTPqnrS-1a</td><td>10066</td><td>Complete sequence</td><td>NC_009807</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>24</td><td>Salmonella enterica subsp. enterica serovar Brandenburg plasmid pUO-SbR3</td><td>6847</td><td>Complete sequence</td><td>NC_010499</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>25</td><td>Salmonella enterica subsp. enterica serovar Brandenburg plasmid pUO-SbR5</td><td>6478</td><td>Complete sequence</td><td>NC_010500</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>26</td><td>Salmonella enterica subsp. enterica serovar Newport str. SL254 plasmid pSL254_3</td><td>3605</td><td>Complete sequence</td><td>NC_011079</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>27</td><td>Salmonella enterica subsp. enterica serovar Heidelberg str. SL476 plasmid pSL476_91</td><td>91374</td><td>Complete sequence</td><td>NC_011081</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>28</td><td>Salmonella enterica subsp. enterica serovar Heidelberg str. SL476 plasmid pSL476_3</td><td>3373</td><td>Complete sequence</td><td>NC_011082</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>29</td><td>Salmonella enterica subsp. enterica serovar Schwarzengrund str. CVM19633 plasmid pCVM19633_110</td><td>110227</td><td>Complete sequence</td><td>NC_011092</td><td>1</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_011092#1">51298-83738</a></td><td><a href="http://phast.wishartlab.com/Plasmid/bin-release/Plasmid.html#id=AAAC00000000&redirect=http://phast.wishartlab.com">(Image)</a></td></tr></table></td><td>-</td><td>32441</td><td>PROPHAGE_Brucel_1330</td></tr>
<tr><td>30</td><td>Salmonella enterica subsp. enterica serovar Schwarzengrund str. CVM19633 plasmid pCVM19633_4</td><td>4585</td><td>Complete sequence</td><td>NC_011093</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>31</td><td>Salmonella enterica subsp. enterica serovar Agona str. SL483 plasmid unnamed</td><td>37978</td><td>Complete sequence</td><td>NC_011148</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>32</td><td>Salmonella enterica subsp. enterica serovar Dublin str. CT_02021853 plasmid pCT02021853_74</td><td>74551</td><td>Complete sequence</td><td>NC_011204</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>33</td><td>Salmonella enterica subsp. enterica serovar Bovismorbificans plasmid p2007057</td><td>4270</td><td>Complete sequence</td><td>NC_011897</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>34</td><td>Salmonella enterica subsp. enterica serovar Paratyphi C strain RKS4594 plasmid pSPCV</td><td>55414</td><td>Complete sequence</td><td>NC_012124</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>35</td><td>Salmonella enterica subsp. enterica serovar Newport plasmid pSN11/00Kan</td><td>5698</td><td>Complete sequence</td><td>NC_014003</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>36</td><td>Salmonella enterica subsp. enterica serovar Dublin plasmid pSD853_7.9</td><td>7860</td><td>Complete sequence</td><td>NC_015392</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>37</td><td>Salmonella enterica subsp. enterica serovar Typhi str. P-stx-12 plasmid unnamed</td><td>181431</td><td>Complete sequence</td><td>NC_016825</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>38</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. 14028S plasmid unnamed</td><td>93832</td><td>Complete sequence</td><td>NC_016855</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_016855#1">26172-58643</a></td></tr></table></td><td>32472</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>39</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p1</td><td>93842</td><td>Complete sequence</td><td>NC_016858</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>40</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p3</td><td>8688</td><td>Complete sequence</td><td>NC_016859</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>41</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. T000240 plasmid pSTMDT12_L</td><td>106510</td><td>Complete sequence</td><td>NC_016861</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>42</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. T000240 plasmid pSTMDT12_S</td><td>8670</td><td>Complete sequence</td><td>NC_016862</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>43</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. UK-1 plasmid pSTUK-100</td><td>93277</td><td>Complete sequence</td><td>NC_016864</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_016864#1">7960-40454</a></td></tr></table></td><td>32495</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>44</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. 798 plasmid p798_93</td><td>93877</td><td>Complete sequence</td><td>NC_017054</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_017054#1">26080-58548</a></td></tr></table></td><td>32469</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>45</td><td>Salmonella enterica subsp. enterica serovar Heidelberg str. B182 plasmid pB182_37</td><td>37581</td><td>Complete sequence</td><td>NC_017624</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>46</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74 plasmid TY474p2</td><td>86908</td><td>Complete sequence</td><td>NC_017675</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>47</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. SL1344 plasmid pCol1B9_SL1344</td><td>86908</td><td>Complete sequence</td><td>NC_017718</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>48</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. SL1344 plasmid pRSF1010_SL1344</td><td>8688</td><td>Complete sequence</td><td>NC_017719</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>49</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. SL1344 plasmid pSLT_SL1344</td><td>93842</td><td>Complete sequence</td><td>NC_017720</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>50</td><td>Salmonella enterica subsp. enterica serovar Enteritidis plasmid pSLA5</td><td>59374</td><td>Complete sequence</td><td>NC_019002</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_019002#1">20866-50171</a></td></tr></table></td><td>29306</td><td>PHAGE_Pseudo_B3</td></tr>
<tr><td>51</td><td>Salmonella enterica subsp. enterica serovar Enteritidis plasmid pSENV</td><td>59368</td><td>Complete sequence</td><td>NC_019120</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_019120#1">33361-58136</a></td></tr></table></td><td>24776</td><td>PHAGE_Cronob_ENT39118</td></tr>
<tr><td>52</td><td>Salmonella enterica subsp. enterica serovar Javiana str. CFSAN001992 plasmid pCFSAN001992_1</td><td>24012</td><td>Complete sequence</td><td>NC_020306</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>53</td><td>Salmonella enterica subsp. enterica serovar Javiana str. CFSAN001992 plasmid pCFSAN001992_2</td><td>17094</td><td>Complete sequence</td><td>NC_020308</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>54</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. U288 plasmid pSTU288-1</td><td>148711</td><td>Complete sequence</td><td>NC_021155</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NC_021155#1">82228-97483</a></td></tr></table></td><td>15256</td><td>PHAGE_Klebsi_phiKO2</td></tr>
<tr><td>55</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. U288 plasmid pSTU288-2</td><td>11067</td><td>Complete sequence</td><td>NC_021156</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>56</td><td>Salmonella enterica subsp. enterica serovar Typhimurium str. U288 plasmid pSTU288-3</td><td>4675</td><td>Complete sequence</td><td>NC_021157</td><td>0</td><td>-</td><td>-</td><td>0</td><td>-</td></tr>
<tr><td>57</td><td>Salmonella enterica subsp. enterica serovar Weltevreden str. 2007-60-3289-1, whole genome shotgun sequence, plasmid pSW82 complete sequence</td><td>81965</td><td>shotgun sequence</td><td>NT_187135</td><td>1</td><td>-</td><td><table><tr><td><a href="http://phast.wishartlab.com/cgi-bin/change_detail_html.cgi?num=NT_187135#1">43899-57192</a></td></tr></table></td><td>13294</td><td>PHAGE_Entero_P1</td></tr>
</table>